@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

  body{
    background: rgb(117, 115, 226);
    background: radial-gradient(circle, rgb(100, 98, 216) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
    width: 100vw;
}

#intro{text-align: left;  
   text-decoration: underline;
    font-family: 'Cinzel', serif;}

#input, li{
  background-color: ghostwhite;
  font-family: 'Cinzel', serif;}

  h3{text-decoration: underline;
    font-family: 'Cinzel', serif;}
  

   #iconoTrash{ float: right;
      color:rgba(0, 0, 0, 0.575);}
   #iconoNOCheck{float: right;
    color:#FF5353;}
    #iconoCheck{float: right;
      color:#47DA99;}

    #contador{ color: ghostwhite;
      font-family: 'Cinzel', serif;}

   
